$headerImage: url(/img/m-h-day.jpg);
$mainSectionColor: #21232e;
$backgroundColor: #ffffff;
$footerColor: #21232e;
$bannerGradient: linear-gradient(to right, #649410, #2c5add);
$themeFont: "Hind", sans-serif;
$headerHeadingFontColor: #2c2f3c;
$joinBtnColor: #699900;