$headerImage: url(/img/m-h-night.jpg);
$mainSectionColor: #3b3f4f;
$backgroundColor: #21232e;
$footerColor: #3b3f50;
$bannerGradient: linear-gradient(to right, #e0a802, #97334e);
$themeFont: "Fresca", sans-serif;
$headerHeadingFontColor: #ffffff;
$joinBtnColor: #e3ac00;