$mainBackground: #fff;
$headerImage: url(/img/m-h-day.jpg);
$mainSectionColor: #21232e;
$backgroundColor: #fff;
$footerColor: #21232e;
$bannerGradient: linear-gradient(to right, #649410, #2c5add);
$themeFont: "Hind", sans-serif;
$HeadingFontColor: #2c2f3c;
$joinBtnColor: #699900;
$wordHighlight: #14a0c7;